@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html {
  @apply scroll-smooth;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  overflow-x: hidden;
}
body {
  @apply bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar{
  display: none;
}
.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
cursor-blue-saber {
  cursor: url('/cursors/blue-saber.png') 16 16, auto;
}
cursor-red-saber {
  cursor: url('/cursors/red-saber.png') 16 16, auto;
}